.footer {
    background-color: #F2729C;
    color: white;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.footer-row p {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    flex: 1;
    /*min-width: 300px;*/
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    min-width: 250px;
}

.social-icons a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: white;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-row p,
    .social-icons {
        justify-content: center;
    }

    .social-icons a {
        font-size: 20px;
    }
}